.background-desert {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.1;
}

.background-img-desert {
  background-image: url('./desert2.png');
  background-size: 1500px 900px;
  height: 900px;
}

.favStar-desert {
  color: rgba(117, 9, 9);
}

.NavBar-desert {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(223, 21, 21);
  border-radius: 4px;
  box-shadow: 3px 1px 10px rgb(236, 214, 14);
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.NavBarItems-desert {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 4px 26px;
  text-decoration: none;
  cursor: pointer;
}

.NavBarItems-desert:hover {
  opacity: 0.7;
}

.player-selector-container-desert {
  background-color: rgb(226, 128, 37);
  position: absolute;
  z-index: 2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

.player-name-selection-desert {
  opacity: 0.99;
  width: 190px;
  list-style-type: none;
  padding: 5px;
  padding-left: 10px;
}

.player-name-selection-desert:hover {
  background-color: rgb(243, 200, 131);
  cursor: pointer;
}

.grid-container-desert {
  display: grid;
  grid-template-columns: 22% 78%;
  grid-template-rows: 35em;
  position: relative;
  top: 0;
  right: 0;
}

.grid-item-desert {
  color: rgba(255, 255, 255, 0.8);
  padding: 8px;
  font-size: 30px;
  text-align: center;
}

.grid-item-desert img {
  width: 100%;
  max-width: 300px;
  max-height: 400px;
}

.playerOverview-desert {
  background-color: rgba(228, 112, 35, 0.856);
  box-shadow: 3px 1px 10px rgb(233, 200, 12), 0.4;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  font-weight: 900;
}

.playerBasics-desert {
  background-color: rgba(117, 9, 9, 0.4);
  box-shadow: 3px 1px 10px rgb(218, 198, 144), 0.4;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 3px;
  font-size: 18px;
}

.value-desert {
  text-align: center;
  width: 85px;
  display: inline-block;
  padding-top: 3px;
  font-weight: 700;
}

.keyPlayerBasic-desert {
  text-align: right;
  width: 90px;
  display: inline-block;
}

.J-desert {
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.stats-container {
  margin: 10px;
  padding: 20px;
}

.stats-container-desert {
  padding: 20px;
  background-color: rgb(255, 255, 255, .9);
  margin-left: 1px;
  margin-right: 1px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.stats-selction-bar-desert {
  width: 100%;
  display: flex;
}

.stat-tab-desert {
  background-color: rgba(255, 255, 255, .3);
  font-size: 18px;
  padding: 6px;
  border: 2px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  flex-grow: 1;
}

.selected-stat-desert {
  font-size: 18px;
  padding: 6px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  flex-grow: 1;
  background-color: rgb(255, 255, 255, .9);
  color: black;
}

.stat-tab-desert:hover {
  opacity: .7;
  cursor: pointer;
}